body{
    margin:0;
}
#outer {
   width:100%; 
   height:150px; 
   background-color:#009688;
}
#inner {
  width:100%; 
  height:800px;
  background-color:#eeeeee;
}
#second {
   width: 870px;
   height:800px;
   background-color: white;
   position: absolute;
   border-radius: 4px;
   top: 2em;
   left: 15em;
}
#third{
  width: 870px;
   height:400px;
   background-color:#f6f8f8;
   position: absolute;
   border-radius: 4px;
   top: 30em; 
   left:15em;
}
div img{
  margin-top:80px;
  margin-left:100px;
}
div h1{
  float:right;
  margin-top: 80px;
  margin-right:200px;
  font-family: Verdana;
  font-size: 40px;
}
div p{
  float:center;
  margin-left:340px;
  margin-top:-160px;
  font-family: verdana;
  font-size:20px;
}
div input{
  margin-left:340px;
}
p.wifi{
  margin-top: 80px;
  font-size:20px;
}


