body{
    margin:0;
}
#outer {
   width:100%; 
   height:150px; 
   background-color:#009688;
}
#inner {
  width:100%; 
  height:550px; 
  background-color:#eeeeee;
}
#second {
   width: 870px;
   height: 630px;
   background-color: white;
   position: absolute;
   border-radius: 4px;
   top: 2em;
   left: 15em;
}
#third{
  width: 870px;
   height: 342px;
   background-color:#f6f8f8;
   position: absolute;
   border-radius: 4px;
   top: 20em;
   left:15em;

