.app-wrapper{
    position: absolute;
    z-index:1;
    background-color: #009688 ;
    width: 100%;
    height: 220px;
    top: -30;
    left: 0;
    right: 100%;
}

.abajo{
    position: absolute;
    z-index:1;
    background-color: #D3D3D3 ;
    width: 100%;
    height: 500px;
    content: '';
    top: 220px;
    left: 0;
}

.window{
    position: absolute;
    z-index:2;
    background-color: #FFF ;
    width: 900px;
    height: 680px;
    content: '';
    top: 23px;
    bottom: 20px;
    right: 190px;
     border-radius: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px; 
}

.copy{
    position: absolute;
    z-index:3;
    background-color:#F2F2F2 ;
    width: 900px;
    height: 305px;
    content: '';
    top: 400px;
    bottom: 20px;
    right: 190px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; 
    display: flex-flow;
}


h1{
    position: absolute;
    z-index: 3;
    top: 100px;
    right: 423px;
    font: 220% Calibri Light;

}

pre{
    position: absolute;
    z-index: 3;
    top: 150px;
    right: 275px;
    font: 130% Calibri Light;
}
input{
    position: absolute;
    z-index: 3;
    top: 250px;
    right: 630px;
}

span{
     position: absolute;
    z-index: 3;
    top: 252px;
    right: 474px;
    font: 80% Arial;
}

#tit{
    position: absolute;
    z-index: 3;
    top: 270px;
    right: 288px;
    font: 80% Arial;
}

.android{
    position: absolute;
    z-index: 3;
    top:435px;
    left: 335px;
    font-family: Verdana;
}

#Uno{
    position: absolute;
    z-index: 3;
    top: 460px;
    left: 335px;
    font: 75% Arial;

}

.berry{
    position: absolute;
    z-index: 3;
    top: 515px;
    left: 335px;
    font-family: Verdana;
}

#dos{
    position: absolute;
    z-index: 3;
    top: 540px;
    left: 335px;
    font: 75% Arial;
}

.sam{
    position: absolute;;
    z-index: 3;
    top: 600px;
    left: 335px;
    font-family: Verdana;
}

#tres{
    position: absolute;
    z-index: 3;
    top: 625px;
    left: 335px;
    font: 75% Arial;
}

.win{
    position: absolute;
    z-index: 3;
    top: 435px;
    left: 700px;
    font-family: Verdana;
}

#cuatro{
    position: absolute;
    z-index: 3;
    top: 460px;
    left: 700px;
   font: 75% Arial;
}

.iphone{
    position: absolute;
    z-index: 3;
    top: 515px;
    left: 700px;
    font-family: Verdana;
}

#cinco{
    position: absolute;;
    z-index: 3;
    top:540px;
    left: 700px;
    font: 75% Arial;
}

.Nokia{
    position: absolute;
    z-index: 3;
    top: 600px;
    left: 700px;
    font-family: Verdana;
}
#seis{
    position: absolute;
    z-index: 3;
    top: 625px;
    left: 700px;
    font: 75% Arial;
}
#re{
    position: absolute;
    z-index: 3;
    top: 665px;
    right: 476px;
    font: 80% Arial;
}