.back {
	z-index: -1;
}

body {
	margin: 0;
}

#arriba {
	position: relative;
	height:222px;
	width:100%;
	background-color: #009688;
	top:0;
	left:0;
	
}

#abajo {
	position: relative;
	height:100%;
	width:100%;
	background-color: #dfdfdf;	
}

.enfrente {
	height: 650px;
	width: 900px;
	position: absolute;
	left: 500px;
	top:140px;
	
}

#arriba1 {
	position:relative;
	height: 355px;
	width: 900px;
	background-color: white;
	border-radius: 0.5em 0.5em 0em 0em;
}

#text1 p {
	position:absolute;
	left:420px;
	top:60px;
	font-size: 28px;
	font-family: 'Roboto', sans-serif;
	color: #37474f;
}

#text2 p {
	position: absolute;
	left:420px;
	top:110px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: #37474f;
}

#checkbox {
	position: absolute;
	left: 420px;
	top:220px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: #37474f;
}

#text3 p {
	position: absolute;
	left:420px;
	top:240px;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	color: #37474f;
}

#qrcode {
	position: absolute;
	left: 100px;
	top:60px;

}

#abajo2 {
	position: relative;
	height: 325px;
	width:900px;
	background-color: #f6f8f8;
	border-radius: 0em 0em 0.5em 0.5em;
}

#abajo2 .android {
	position: absolute;
	left: 110px;
	top: 50px;
	height:50px;
	width: 50px;
	border-radius: 100%;
	background-color: #43d854;

}

#abajo2 .a {
	position: absolute;
	left: 180px;
	top: 40px;
	color: #37474f;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
}

#abajo2 .b {
	position: absolute;
	left: 180px;
	top:115px;
	color: #37474f;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
}

#abajo2 .c {
	position: absolute;
	left: 180px;
	top: 190px;
	color: #37474f;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
}

#abajo2 .d {
	position: absolute;
	left: 520px;
	top: 40px;
	color: #37474f;
	font-size: 13px;
	font-family: 'Roboto', sans-serif
}

#abajo2 .e {
	position: absolute;
	left: 520px;
	top: 115px;
	color: #37474f;
	font-size: 13px;
	font-family: 'Roboto', sans-serif
}

#abajo2 .f {
	position: absolute;
	left: 520px;
	top: 190px;
	color: #37474f;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
}



#abajo2 .bb {

	position: absolute;
	left: 110px;
	top: 125px;
	height:50px;
	width: 50px;
	border-radius: 100%;
	background-color: #43d854;
}

#abajo2 .nokia {

	position: absolute;
	left: 110px;
	top: 200px;
	height:50px;
	width: 50px;
	border-radius: 100%;
	background-color: #43d854;
}

#abajo2 .windows {
	position: absolute;
	left: 450px;
	top: 50px;
	height:50px;
	width: 50px;
	border-radius: 100%;
	background-color: #43d854;

}

#abajo2 .bb10 {

	position: absolute;
	left: 450px;
	top: 125px;
	height:50px;
	width: 50px;
	border-radius: 100%;
	background-color: #43d854;
}

#abajo2 .nokias40 {

	position: absolute;
	left: 450px;
	top: 200px;
	height:50px;
	width: 50px;
	border-radius: 100%;
	background-color: #43d854;
}

footer {
	text-align: center;
	position: absolute;
	top:279px;
	left:340;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #757575;
}


